[user]
	name = {{ (bitwarden "item" "github").login.username }}
	email = {{ (bitwardenFields "item" "github").email.value }}
[alias]
	a = add
	s = status
	l = log --oneline
	d = diff
	dw = diff --word-diff
	dc = diff --cached
	dcw = diff --cached --word-diff
	amend = commit --amend
	root = rev-parse --show-toplevel
[pull]
	ff = only
