[user]
  name = {{ (bitwarden "item" "github.com/porkbeans").login.username }}
  email = {{ (bitwardenFields "item" "github.com/porkbeans").email.value }}
[alias]
  a = add
  s = status
  l = log --format='format:%C(auto,blue)%cd%Creset %C(auto,green)%ae%Creset %C(auto)%H%Creset%C(auto)%d%Creset %s'
  d = diff
  dw = diff --word-diff
  dc = diff --cached
  dcw = diff --cached --word-diff
  amend = commit --amend --no-edit
  root = rev-parse --show-toplevel
[log]
  date = iso-strict
[color]
  ui = auto
[pull]
  ff = only
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[safe]
  directory = /opt/flutter
